*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img{
    width: 90px;
    height: 90px;
}

.Title{
    display: inline-block;
    font-size: 50px;
}

main{
    margin: 150px 0 0 200px;
    
}


.Task{
    background-color: #46ADF1;
    color: white;
}


.Section{
    color: grey;
}


ul{
    list-style-type: none;
    font-size: 30px;
    padding-top: 50px;
    line-height: 50px;
}


.ToDo{
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid red;
    color:red;;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height:20px

}

.Done{
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #51B99E;
    color:#51B99E;;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height:20px
}