body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    width: 90px;
    height: 90px;
}

.Title{
    display: inline-block;
    font-size: 50px;
    line-height: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

main{
    margin: 50px 0 0 300px;
}

.Task{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #46ADF1;
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

.Section{
    color: grey;
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
}

.list-title{
    font-size: 30px;
    margin-top: 50px;
    line-height: 50px;
}

li{
    list-style-type: none;
    font-size: 25px;
    margin-top: 5px;
    line-height: 50px;
}

.Icon{
    margin-right: 10px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height:20px
}

.ToDo{
    border: 1px solid red;
    color:red;;
}

.Done{
    border: 1px solid #51B99E;
    color:#51B99E;;
}

.Group{
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.Editorial{
    color: white;
    font-size: 15px;
    background-color: #46ADF1;
}

.Q1Goals{
    color: white;
    font-size: 15px;
    background-color: #9D72E4;
}

.Recruiting{
    color: white;
    font-size: 15px;
    background-color: #64C0A8;
}

.Mobile{
    color: white;
    font-size: 15px;
    background-color: #F29E34;

}

.Website{
    color: white;
    font-size: 15px;
    background-color: #D863A1;

}

.Sales{
    color: white;
    font-size: 15px;
    background-color: #B1C926;

}